HOST_LOGIN=yourlogin
DOMAIN_NAME=yourlogin.42.fr

MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser

WORDPRESS_DB_HOST=mariadb
WORDPRESS_TITLE=Inception
WORDPRESS_ADMIN_USER=siteowner
WORDPRESS_ADMIN_EMAIL=siteowner@yourlogin.42.fr
WORDPRESS_USER=editor
WORDPRESS_USER_EMAIL=editor@yourlogin.42.fr
